{% extends 'news/base_news.html'%}
{% block title %}
Add news
{% endblock %}

{% block content %}
<form action="{% url 'news_add_url' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in formNews %}
	<dir class="form-group">
		{% if field.errors %}
		<div class="alert alert-danger">
			{{field.errors }}
		</div>
		{% endif %}
	{{field.label}}
	{{field}}
	</dir>
	{% endfor %}

{% csrf_token %}

		{% for form in formImages %}
		{% for field  in form %}
		 
	<dir class="form-group">
		{% if field.errors %}
		<div class="alert alert-danger">
			{{field.errors }}
		</div>
		{% endif %}
	{{field.label}}
	{{field}}
	</dir>
	{% endfor %}
	{% endfor %}
	{{ formImages.management_form }}

	<button type="submit" class="btn btn-primary">Add</button>
	
</form>
{% endblock %}