{% extends 'news/base_news.html'%}
{% block title %}
This is a news list
{% endblock %}

{% block r %}




{% endblock %}

{% block content %}

<script type="text/javascript">
function SetData (elem) { 
    localStorage.setItem(elem.getAttribute('name'), elem.getAttribute('id'));


} 
function GetData (item) { 
    return localStorage.getItem(item); 
}

window.onload = function() {
  
    var Item = GetData ('rad');
   
    if(Item != undefined) {
        document.getElementById(Item).checked = true;
    }

}

</script>

<form class="d-flex" action="{% url 'news_list_url' %}">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rad" id="inlineRadio1" value="10" onchange="SetData(this);">
    <label class="form-check-label" for="inlineRadio1">10</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rad" id="inlineRadio2" value="20" onchange="SetData(this);">
    <label class="form-check-label" for="inlineRadio2">20</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="rad" id="inlineRadio3" value="50" onchange="SetData(this);">
    <label class="form-check-label" for="inlineRadio3">50</label>
  </div>
  <button class="btn btn-outline-success" type="submit">Applay</button>
</form>


	<h1 class="mb-5"> News:</h1>
	{% for n in news.object_list %}
	<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{n.title }}</h5>
    <p class="card-text">{{n.body|truncatewords:15 }}</p>
    <p class="card-text"><small class="text-muted">{{n.date_pub }}</small></p>
    <a href="{{ n.get_absolute_url }}" class="btn btn-primary">Read</a>
  </div>
  {% for img in n.images_set.all %}
  <img src="{{img.pic.url }}" class="card-img-bottom" alt="...">
  <br>
  {% endfor %}
</div>
	{% endfor %}

  {% if is_paginated %}
  <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not prev_url %} disabled {% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

  
    
    {% for n in news.paginator.page_range %}
    {% if news.number == n %}
 <li class="page-item active" aria-current="page">
  <a class="page-link" href="?page={{n}}">{{n}}</a>
</li>
{% elif n > news.number|add:-3 and n < news.number|add:3 %}
<li class="page-item">
  <a class="page-link" href="?page={{n}}">{{n}}</a>
</li>
{% endif %}
    {% endfor %}
     <li class="page-item {% if not next_url %} disabled {% endif %}">
      <a class="page-link" href="{{ next_url }}" tabindex="-1" aria-disabled="true">Next</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}





